#getP {
    color: lightseagreen;
    font-size: 30px;
}
#getContainer {
    margin-top: 25%;
    text-align: center;
    
}

#pathCSpan {
    display: block;
}
#pathContainer {
    text-align: center;
}