#getP {
    color: lightseagreen;
    font-size: 30px;
}

#getContainer {
    margin-top: 25%;
    text-align: center;
    
}

.pathCSpan {
    display: block;
}

#pathContainer {
    text-align: center;
}

#TreeContainer {
    margin-top: 2%;
    display: none;
  
}

#TreeArea {
    user-select: all;
    text-align: none;
    min-height: 400px;
}
#TreeAreaOpForm {
    text-align: center;
}
